<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PushNotify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01F3C1D11C639482005A0D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01F3C1EA1C639482005A0D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01F3C1F51C639482005A0D3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
